<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>

</head>
<body>

	<div id="sb-site">
		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" width="24px" class="sb-open-left">
					</div>
					<div class="col-md-6">
					</div>
				</div>
				<h1 id="about-main"> Relive your favorite memory. </h1>
			</div>
		</div>

		</div>

		<div class="container">
			<div class="supporting">
				<h1> No more sorting through photos. </h1>
				<h3> Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways. </h3>
				<div class="button-more">
					<a href="#"> Sign up </a>
				</div>
			</div>
		</div>



	</div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
