<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>

</head>
<body>

	<div class="sb-slidebar sb-left sb-style-overlay sb-width-thin" style="margin-left: -334px;">
		<ul class="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<img src="http://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-white.svg" width="24px" class="sb-close">
	</div>

	<div id="sb-site">
		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="http://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" width="24px" class="sb-open-left">
					</div>
					<div class="col-md-6">
						<h1> Create and Share Stories </h1>
						<div class="button-more">
							<a href="#"> Learn More </a>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>

		<div class="container">
			<div class="supporting">
				<h1> Relive and share your adventures </h1>
				<h3> Stories automatically creates a digital journal filled with only your best photos </h3>
			</div>
		</div>

			<div class="secondary">
			</div>

		<div class="container">
			<div class="discover">
				<h1> Discover stories </h1>
				<div class="button-more">
					<a href="#"> Learn More </a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="footer">
				<p> A Shutterbugg Project </p>
			</div>
		</div>
	</div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
