// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$oswald: 'Oswald', sans-serif;
$poiret: 'Poiret One', cursive;

// *********** HOME ************ //

//Main//

img.sb-open-left {
	margin-top: 50px;
	cursor: pointer;
}

img.sb-close {
	margin-left: 120px;
	margin-top: -355px;
	cursor: pointer;
}

.menu a{
	color: white;
	font-size: 16px;
	font-family: 'Oswald';
}

.menu a:hover{
	color: rgba(83, 161, 244, 1.0);
	text-decoration: none;
}

ul.menu {
	text-decoration: none;
	padding-top: 20px;
}

.menu li{
	list-style-type: none;
	padding: 20px 0;
}

.main {
background: image-url('background.JPG') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 640px;
}

.main h1 {
	padding-top: 200px;
	width: 300px;
	text-align: center;
	font-family: $poiret;
	color: white;
	margin-right: auto;
	margin-left: auto;
	font-size: 60px;
}

.button-more {
		text-align: center;
		padding-top: 20px;
}
.button-more a {
	color: white;
	font-family: $oswald;
	background-color: rgba(83, 161, 244, 0.7);
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 300;
}

.button-more a:hover {
	margin-top: 10px;
	color: white;
	text-decoration: none;
	background-color: rgba(83, 161, 244, 1.0);
}

// Supporting //

.supporting {
	padding-bottom: 100px;
}

.supporting h1 {
	padding-top: 100px;
	text-align: center;
	font-family: $poiret;
	color: black;
	margin-right: auto;
	margin-left: auto;
	font-size: 60px;
}

.supporting h3 {
	text-align: center;
	font-family: $oswald;
	color: black;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	font-weight: 300;
	line-height: 150%;
}


// Secondary //

.secondary {
	background: image-url('background2.JPG') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 440px;
}

// Discover //

.discover {
	padding-bottom: 100px;
}
.discover h1 {
	padding-top: 100px;
	text-align: center;
	font-family: $poiret;
	color: black;
	margin-right: auto;
	margin-left: auto;
	font-size: 60px;
}

// Footer //

.footer {
	background-color: #f9f9f9;
	border-top: 1px solid #f5f5f5;
	padding: 40px 0 30px 0;
	text-align: center;
}

.footer p{
	text-transform: uppercase;
	font-family: helvetica;
	font-size: 12px;
	color: #aaa;
}

// ****************** ABOUT ***************** //

h1#about-main {
	text-align: center;
	width: auto;
	color: black;
	margin-top: -200px;
}

